<div class="container-box">
    <div class="card">
        <div class="card-header">
            Sign In
        </div>
        <div class="card-body">
            <div class="alert alert-danger mb-4" *ngIf="message" role="alert">
                <p>{{message}}</p>
            </div>

            <div class="form-group">
                <label for="username">Username or Email address</label>
                <input [(ngModel)]="loginRequest.username" [disabled]="loading" type="email" class="form-control"
                    id="username" placeholder="Enter your here">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input [(ngModel)]="loginRequest.password" [disabled]="loading" type="password" class="form-control"
                    id="password" placeholder="Enter your password">
            </div>

            <re-captcha [(ngModel)]="loginRequest.captcha" name="captcha" (resolved)="resolved($event)"
                [siteKey]="recaptchaSiteKey">
            </re-captcha>
        </div>
        <div class="card-footer">
            <button (click)="submit()" [disabled]="loading || !valid_captcha" class="btn btn-primary">Login</button>
            <a routerLink="/register" class="btn btn-outline-primary ml-2">Register</a>
        </div>
    </div>
</div>