.container-box {
    position: relative;
    height: 100vh;
    width: 100vw;

    .card {
        width: 344px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .alert {
        p {
            margin-bottom: 0;
        }
    }
}

@media only screen and (max-width: 350px) {
    .container-box {
        .card {
            transform: translate(-50%, -50%) scale(0.7);
        }
    }
}