<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    Filters
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="search">Search</label>
                        <input (change)="reset()" [(ngModel)]="filter.search" [disabled]="loading" type="text"
                            class="form-control" id="search" placeholder="Search links">
                    </div>
                    <div class="form-group">
                        <label for="order">Order</label>
                        <select (change)="reset()" class="form-control" [disabled]="loading" [(ngModel)]="filter.order">
                            <option value="created_at">Created At</option>
                            <option value="target_url">Target URL</option>
                            <option value="short_id">Short ID</option>
                            <option value="visits">Visits</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="direction">Direction</label>
                        <select (change)="reset()" class="form-control" [disabled]="loading"
                            [(ngModel)]="filter.direction">
                            <option value="desc">Descending</option>
                            <option value="asc">Ascending</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card">
                <div class="card-header">
                    Your Links
                </div>
                <div class="card-body">
                    <div class="spinner-container" *ngIf="loading">
                        <div class="spinner-box">
                            <div class="spinner-grow" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <table class="table" *ngIf="!loading">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Created At</th>
                                <th>Short ID</th>
                                <th>Target URL</th>
                                <th>Visits <small>*</small></th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of links; let i = index">
                                <td>{{i + 1}}</td>
                                <td>{{item.created_at | moment: "YYYY/MM/DD"}}</td>
                                <td>{{item.short_id}}</td>
                                <td>{{item.target_url}}</td>
                                <td>{{item.visits}}</td>
                                <td><a routerLink="/links/{{item.short_id}}" class="btn btn-sm btn-success">Details</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <hr/>
                    <small>* In past 5 minutes.</small>
                </div>
            </div>
        </div>
    </div>
</div>