<div class="container-box">
    <div class="card">
        <div class="card-header">
            Sign Up
        </div>
        <div class="card-body">
            <div class="alert alert-danger mb-4" *ngIf="message" role="alert">
                <p>{{message}}</p>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input [(ngModel)]="loginRequest.email" [disabled]="loading" type="email" class="form-control"
                    id="email" aria-describedby="emailHelp" placeholder="Enter your email address">
                <small id="emailHelp" class="form-text text-muted">We'll never share your information with
                    anyone
                    else.</small>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input [(ngModel)]="loginRequest.username" [disabled]="loading" type="text" class="form-control"
                    id="username" placeholder="Enter your username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input [(ngModel)]="loginRequest.password" [disabled]="loading" type="password" class="form-control"
                    id="password" placeholder="Enter your password">
            </div>
            <div class="form-group">
                <label for="password2">Repeat Password</label>
                <input [(ngModel)]="loginRequest.password2" [disabled]="loading" type="password" class="form-control"
                    id="password2" placeholder="Enter your password again">
            </div>

            <re-captcha [(ngModel)]="loginRequest.captcha" name="captcha" (resolved)="resolved($event)"
                [siteKey]="recaptchaSiteKey">
            </re-captcha>
        </div>
        <div class="card-footer">
            <button (click)="submit()" [disabled]="loading || !valid_captcha" class="btn btn-primary">Register</button>
            <a routerLink="/login" class="btn btn-outline-primary ml-2">Sign In</a>
        </div>
    </div>
</div>