@import "./bootstrap.scss";
@import "./colors.scss";

body {
    background-color: $oc-gray-0;
    font-family: 'Montserrat', sans-serif;
}

.spinner-container {
    height: 300px;
    width: 100%;
    position: relative;

    .spinner-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}