<div class="container mt-4 mb-4">
    <div class="row mb-4">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <label>This day</label>
                    <h1 class="text-center">{{loading.summary ? '---' : summary[0]}} <small>Request(s)</small></h1>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <label>Yesterday</label>
                    <h1 class="text-center">{{loading.summary ? '---' : summary[1]}} <small>Request(s)</small></h1>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <label>This week</label>
                    <h1 class="text-center">{{loading.summary ? '---' : summary[2]}} <small>Request(s)</small></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-9">
                            Requests ({{statDayName}})
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control" [(ngModel)]="days" (change)="resetStats()">
                                <option value="0">Today</option>
                                <option value="1">Yesterday</option>
                                <option value="7">Past 7 Days</option>
                                <option value="14">Past 2 Weeks</option>
                                <option value="21">Past 3 Weeks</option>
                                <option value="30">Past 1 Month</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="spinner-container" *ngIf="loading.charts">
                        <div class="spinner-box">
                            <div class="spinner-grow" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <canvas [hidden]="loading.charts" baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                        [chartType]="lineChartType"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Devices ({{statDayName}})
                </div>
                <div class="card-body">
                    <div class="spinner-container" *ngIf="loading.charts">
                        <div class="spinner-box">
                            <div class="spinner-grow" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <canvas [hidden]="loading.charts" baseChart [data]="deviceChartData" [labels]="deviceChartLabels"
                        [chartType]="pieChartType" [options]="pieChartOptions" [legend]="true"
                        [colors]="deviceChartColors">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Browsers ({{statDayName}})
                </div>
                <div class="card-body">
                    <div class="spinner-container" *ngIf="loading.charts">
                        <div class="spinner-box">
                            <div class="spinner-grow" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <canvas [hidden]="loading.charts" baseChart [data]="browserChartData" [labels]="browserChartLabels"
                        [chartType]="pieChartType" [options]="pieChartOptions" [legend]="true"
                        [colors]="browserChartColors">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Platforms ({{statDayName}})
                </div>
                <div class="card-body">
                    <div class="spinner-container" *ngIf="loading.charts">
                        <div class="spinner-box">
                            <div class="spinner-grow" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <canvas [hidden]="loading.charts" baseChart [data]="platformChartData"
                        [labels]="platformChartLabels" [chartType]="pieChartType" [options]="pieChartOptions"
                        [legend]="true" [colors]="platformChartColors">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>