@import "../styles/colors.scss";

.mainnav {
    margin-bottom: 30px;
    box-shadow: 0px 3px 8px rgba(190, 190, 190, 0.4);
    background-color: white !important;
}

.nav-danger {
    color: $oc-red-4 !important;

    &:hover {
        color: $oc-red-8 !important;
    }
}

.modal-content {
    border-radius: 0;
    border-color: transparent;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important;
}

.btn-like {
    &:hover {
        cursor: pointer;
    }
}

.alert {
    p {
        margin-bottom: 0;
    }
}