<ngx-loading-bar [includeSpinner]="false" color="#7950f2" height="4px"></ngx-loading-bar>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Back</button>
                <button type="button" class="btn btn-primary btn-confirm mr-3 btn-sm">Continue</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loggedIn">
    <div class="modal fade" id="newLinkModal" tabindex="-1" role="dialog" aria-labelledby="newLinkModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newLinkModalTitle">New Short Link</h5>
                    <button [disabled]="loadingNewLink" type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger mb-4" *ngIf="newLinkMessage" role="alert">
                        <p>{{newLinkMessage}}</p>
                    </div>
                    <div class="form-group">
                        <label for="target_link">Target URL</label>
                        <input [(ngModel)]="newLink.url" [disabled]="loadingNewLink" class="form-control"
                            id="target_link" placeholder="Ex: https://google.com">
                    </div>
                    <div class="form-group">
                        <label for="short_id">Short ID <small>(optional)</small></label>
                        <input [(ngModel)]="newLink.short_id" [disabled]="loadingNewLink" class="form-control"
                            id="short_id" placeholder="Ex: ggle">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" [disabled]="loadingNewLink" class="btn btn-outline-secondary btn-sm"
                        data-dismiss="modal">Back</button>
                    <button type="button" [disabled]="loadingNewLink" (click)="submitNewLink()"
                        class="btn btn-primary btn-confirm mr-3 btn-sm">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <nav class="mainnav navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" routerLink="/dashboard">Kotahkon!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/dashboard" [routerLinkActive]="['active']">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/links" [routerLinkActive]="['active']">Links</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-danger btn-like" (click)="logout()">Logout</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link btn-like" data-toggle="modal" data-target="#newLinkModal">New Link</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>