<div class="container mt-5 mb-5">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-8">
                    Overall (in past {{days}} days)
                </div>
                <div class="col-sm-4 text-right">
                    <select (click)="load()" class="form-control" [(ngModel)]="days">
                        <option value="3">3 Days</option>
                        <option value="7">7 Days</option>
                        <option value="14">2 Weeks</option>
                        <option value="21">3 Weeks</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="chart-box">
                <div class="spinner-container" *ngIf="loading">
                    <div class="spinner-box">
                        <div class="spinner-grow" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <canvas [hidden]="loading" baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                    [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                    [chartType]="lineChartType"></canvas>
            </div>
        </div>
    </div>
</div>